{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}

    <div class='container'>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="container-fluid">

                    <a class="navbar-brand" href="{{ url_for('main.index') }}"> Student Forum </a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Organization.organization_registeration') }}"> Register </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Organization.organization_login') }}"> Login </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#"> Companies</a> </li>
                        </ul>
                        <ul class="navbar-nav justify-content-end">   
                            <li class="nav-item"> <a class="nav-link" href="#"> About us </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#"> Contacts </a> </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>

    <br><hr>

    <div class='container' >

        <div class="mb-3">

            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }} <br>

                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}

                {{ form.email.label }}
                {{ form.email(class="form-control") }} <br>

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.telephone.label(class="form-label") }}
                {{ form.telephone(class="form-control") }} <br>

                {% if form.telephone.errors %}
                    {% for error in form.telephone.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.website.label(class="form-label") }}
                {{ form.website(class="form-control") }} <br>

                {% if form.website.errors %}
                    {% for error in form.website.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control") }} <br>

                {% if form.location.errors %}
                    {% for error in form.location.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.image.label(class="form-label") }}
                {{ form.image(class="form-control") }} <br>

                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }} <br>

                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }} <br>

                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}


                {{ form.submit(class="btn btn-outline-primary") }}

            </form> 
        </div>
    </div>


{% endblock body %}

