{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}

<div class='container'>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">

                <a class="navbar-brand" href="{{ url_for('main.index') }}"> Student Forum </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"> <a class="nav-link" href="{{ url_for('Organization.organization_profile', id=current_user.id ) }}"> Profile </a> </li>
                        {% if current_user.offer_jobs %}
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Job.addJob') }}"> Post Job </a> </li>
                        {% endif %}
                        {% if current_user.offer_bursary %}
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Bursary.addBursary') }}"> Post Bursary </a> </li>
                        {% endif %}
                        {% if current_user.offer_residence %}
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Bursary.addBursary') }}"> Post Bursary </a> </li>
                        {% endif %}
                        <li class="nav-item"> <a class="nav-link active" href="{{ url_for('Organization.organization_account', id=current_user.id) }}"> Account </a> </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">  
                        <li class="nav-item"> <a class="nav-link" href="{{ url_for('Organization.organization_logout') }}"> Logout </a> </li>
                    </ul>
                </div>
            </div>

        </nav>
    
</div>

<div class='container'>
    <br> <hr>

    <h3> {{ user.name }} </h3> <br>
     Email {{ user.email }}  <br>
     Telephone {{ user.telephone }}  <br>
     Website <a href="{{ user.website }}"> {{ user.website }} </a>  <br>
     Location {{ user.location }} <br>

</div>

<div>
    {% if current_user.offer_bursary %}
        <br> <hr>
        <h3> Bursaries Posted </h3>
    {% endif %}
    
</div>

<div>
    {% if current_user.offer_jobs %}
        <br> <hr>
        <h3> Jobs Posted </h3>
    {% endif %}
    
</div>


<div>
    {% if current_user.offer_residence %}
        <br> <hr>
        <h3> Residence Posted </h3>
    {% endif %}
    
</div>



{% endblock body %}

