{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}


    <div class='container'>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="container-fluid">

                    <a class="navbar-brand" href="{{ url_for('main.home') }}"> Student Forum </a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        {% if current_user.is_authenticated %}

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.account')}}"> Account </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('posts.create_post') }}"> create new post </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.logout') }}"> logout </a> </li>
                                <br class="nav-item">
                                <li class="nav-item"> <a class="nav-link active" href="{{ url_for('market.market_place') }}"> Market </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('market.sell') }}"> Sell </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('Bursary.showBursary') }}"> Bursaries </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('Friends.meet_friends') }}"> Meet a Friend </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#"> Connect </a> </li>

                            </ul>
                        {% else %}
                            <ul>
                                <li> <a href="{{ url_for('users.register') }}"> Register </a> </li>
                                <li> <a href="{{ url_for('users.login') }}"> Login </a> </li>
                                <li> <a href="#"> About </a> </li>
                            </ul>
                        {% endif %}

                    </div>
                </div>

            </nav>
        
    </div>



    <div class="container">
        <br>
        <h1>Market Store</h1>
    </div>

    

    <div class="container" >
        <br>
        {% for product in products %}

        <div class="card border-primary mb-3">
                <div class="card-body">
                    <h5> Seller: <a href="{{ url_for('users.user_profile', user_id = product.seller.id) }}" > {{ product.seller.first_name }} </a> </h5>
                    <p class="small text-muted text-uppercase">Product: <a href="{{ url_for('market.product', product_id = product.id) }}"> {{ product.product_name }} </a> </p>
                    <p class="small text-muted text-uppercase">Category: {{ product.category }} </p>
                    <p class="small text-muted text-uppercase">Condition: {{ product.condition }} </p>
                    <p class="text-danger mr-1 text-uppercase">Price: R{{ product.price }} </p>
                    <p class="card-text"><small class="text-muted">Posted on: {{ product.date_created.strftime('%b-%d-%Y') }}</small></p>
                    {% if product.image %}
                      <div class>
                          <img src="{{ url_for('static', filename='product_pictures/' + product.image|string) }}" class="rounded mx-auto d-block" >
                      </div>
                      <br>
                    {% endif %}
                    <p class="small text-muted text-uppercase">Description: {{ product.description }} </p>
                    <br>
                    <div class="card-body">
                        <hr>
                        <a href="{{ url_for('market.product', product_id = product.id) }}" class="btn btn-outline-primary">Comment</a>
                        <a href="{{ url_for('users.user_profile', user_id = product.seller.id) }}" class="btn btn-outline-info">Contact Seller</a>
                        <a href="#" class="btn btn-outline-success">Add wish</a>
                      </div>
                </div>    
                <br>
            </div>
        
            <br>
        {% endfor %}
    </div>

{% endblock body %}

