{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}


    <div class='container'>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="container-fluid">

                    <a class="navbar-brand" href="{{ url_for('main.home') }}"> Student Forum </a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        {% if current_user.is_authenticated %}

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.account')}}"> Account </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('posts.create_post') }}"> create new post </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.logout') }}"> logout </a> </li>
                                <br class="nav-item">
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('market.market_place') }}"> Market </a> </li>
                                <li class="nav-item"> <a class="nav-link active" href="{{ url_for('market.sell') }}"> Sell </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('Bursary.showBursary') }}"> Bursaries </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('Friends.meet_friends') }}"> Meet a Friend </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#"> Connect </a> </li>

                            </ul>
                        {% else %}
                            <ul>
                                <li> <a href="{{ url_for('users.register') }}"> Register </a> </li>
                                <li> <a href="{{ url_for('users.login') }}"> Login </a> </li>
                                <li> <a href="#"> About </a> </li>
                            </ul>
                        {% endif %}

                    </div>
                </div>

            </nav>
        
    </div>

    <div class='container'>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }} <br>

            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}<br>

            {% if form.price.errors %}
                {% for error in form.price.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-select") }} <br>

            {% if form.category.errors %}
                {% for error in form.category.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

            {{ form.condition.label(class="form-label") }}
            {{ form.condition(class="form-select") }} <br>

            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }} <br>

            {% if form.description.errors %}
                {% for error in form.description.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }} <br>

            {% if form.image.errors %}
                {% for error in form.image.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% endif %}

            {{ form.submit(class="btn btn-outline-primary")  }} <br>

        </form>
    </div>

{% endblock body %}

