{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}


    <div class='container'>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="container-fluid">

                    <a class="navbar-brand" href="{{ url_for('main.home') }}"> Student Forum </a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" href="{{ url_for('users.register') }}"> Register </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.login') }}"> Login </a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#"> About </a> </li>
                            </ul>

                    </div>
                </div>

            </nav>
        
    </div>

   <div class='container' >

        <div class="mb-3">
            <form action="" method="POST" >

                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }} <br>

                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}

                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }} <br>

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}

                {{ form.gender.label(class="form-label") }}
                {{ form.gender(class="form-select") }} <br>

                {% if form.gender.errors %}
                    {% for error in form.gender.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}

                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }} <br>

                {% if form.password.errors %}
                    {% for error in form.password.errors %}                   
                    <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}

                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }} <br>

                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}

                {{ form.submit(class="btn btn-outline-primary") }} <br>
            </form>
        </div>
   </div>
  
{% endblock body %}

