{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}

    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Displaying the website Name or logo -->
                <a class="navbar-brand" href="{{ url_for('main.home') }}"> Student Forum </a>     
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    {% if current_user.is_authenticated %}

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.account')}}"> Account </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('posts.create_post') }}"> create new post </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('users.logout') }}"> logout </a> </li>
                            <br class="nav-item">
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('market.market_place') }}"> Market </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('market.sell') }}"> Sell </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Bursary.showBursary') }}"> Bursaries </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('Friends.meet_friends') }}"> Meet a Friend </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#"> Connect </a> </li>
                        </ul>
                    {% else %}
                        <ul>
                            <li> <a href="{{ url_for('users.register') }}"> Register </a> </li>
                            <li> <a href="{{ url_for('users.login') }}"> Login </a> </li>
                            <li> <a href="#"> About </a> </li>
                        </ul>
                    {% endif %}

                </div>
            </div>
        </nav>    
    </div>

    <br><hr>

    <section class="my-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card card-personal">
                    <img  class="card-img-top" src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture ) }}">
                    <div class="card-body">
                        <a>
                        <h4 class="card-title title-one"> {{ user.first_name }} </h4>
                        </a>
                        <a>
                            {% if user.last_name %}
                                <h4 class="card-title title-one"> {{ user.last_name }} </h4>
                            {% endif %}
                        </a>
                        <p class="card-meta">Joined in {{ user.joindate.strftime('%b-%d-%Y') }}</p>
                        <p class="card-text">
                            {% if user.about %}
                                {{ user.about }}
                            {% endif %}  
                        </p>
                        <hr>
                        <a class="card-meta"><span><i class="fas fa-user"></i> 

                            {% if current_user != user %}
                                {% if current_user.is_following(user) %}
                                    <!-- show a follow user button if they a a user if  -->
                                    <ul> <a class="btn btn-outline-danger" href="{{ url_for('users.unFollow', user_id = user.id) }}">Unfollow </a> </ul> 
                                {% else %}
                                    <ul> <a class="btn btn-outline-primary" href="{{ url_for('users.follow', user_id = user.id) }}">Follow </a> </ul> 
                                {% endif %}
                            
                            </span></a>
                            <a class="card-meta"><span><i class="fas fa-user"></i> 
                                    <ul> <a class="btn btn-outline-success" href="#">Message </a> </ul> 
                            </span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr><br>
    {% for post in posts %}
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <!-- showing post author profile image small and rounded -->
                            <img class="rounded-circle" width="45" src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture ) }}" alt="">
                        </div>
                        <div class="ml-2">
                            <!-- showing post author user name -->
                            <div class="h5 m-0"> {{ post.author.first_name }} </div>
                            <!-- showing the created date of the post   -->
                            <div class="h7 text-muted"> {{ post.date_created.strftime('%b-%d-%Y') }} </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                {% if post.picture %}
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <!-- showing post images and converting post name to string to avoid error while concatinating -->
                    <img src="{{ url_for('static', filename='post_pictures/' + post.picture|string ) }}" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                    </a>
                </div>
                {% endif %}

                <a class="card-link" href="#">
                    <h5 class="card-title"> {{ post.title }} </h5>
                </a>

                <p class="card-text">
                    {{ post.content }}
                </p>
                <a href="{{ url_for('posts.post', post_id=post.post_id) }}" class="card-link"><i class="fa fa-comment"></i> Comment</a>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock body %}

